body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.game-object-wrapper {
    width: 100%;
    height: 100%;
    background-size: contain;
}

#game-container {
    display: flex;
    position: absolute;
    background: #006400 url("../../src/sprites/svg/PlayingField.svg") no-repeat center;
    background-size: contain;
    width: 80%;
    height: 100%;
}

#ui-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    background: #006480 no-repeat;
    background-size: contain;
    width: 20%;
    height: 100%;
}

#game-table {
    width: 100%;
    padding: 0;
    border-spacing: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    max-height: calc(14 / 20 * 80vw);
    max-width: calc(20 / 14 * 100vh);
}

#game-table td {
    width: 5%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

#ui-table {
    padding: 0;
    border-spacing: 0;
    margin: auto;
    width: 100%;
    height: 50%;
    max-height: calc(7 / 3 * 20vw);
    max-width: calc(3 / 7 * 33.3%);
}

#ui-table td {
    width: 33.3%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

#ui-button-wrapper {
    width: 100%;
    height: 25%;
}

#start-game-button {
    display: block;
    max-width: 100%;
}

#end-game-button {
    display: block;
    margin-left: auto;
    max-width: 100%;
}

#low-background-wrapper {
    width: 100%;
    height: 25%;
}

#cow-right {
    background: url("../../src/sprites/svg/CowGreyRight.svg") no-repeat center;
}

#cow-down {
    background: url("../../src/sprites/svg/CowGreyDown.svg") no-repeat center;
}

#cow-left {
    background: url("../../src/sprites/svg/CowGreyLeft.svg") no-repeat center;
}

#cow-up {
    background: url("../../src/sprites/svg/CowGreyUp.svg") no-repeat center;
}