.container {
	display: flex;
	align-items: center;
	justify-items: center;
	background: #006400 url("../../../assets/sprites/svg/PlayingField.svg") no-repeat center;
	flex-grow: 1;
}

.game-table {
	--border-color: #e5ff00;

	border: 1px solid var(--border-color);
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 0;
	border-spacing: 0;
	max-height: 100vh;
}

.game-table tr {
	display: flex;
}

.cell {
	--rows: 14;
	--columns: 20;

	height: calc(80vw / var(--rows));
	width: calc(80vw / var(--rows));
	max-height: calc(100vh / var(--columns));
	max-width: calc(100vh / var(--columns));
	padding: 0;
	border: 1px solid var(--border-color);
}