body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: #006400 url('assets/MainMenuBackground.svg') no-repeat fixed
		center center;
	background-size: contain;
}

#menu-container {
	position: absolute;
	width: 25vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.game-menu-link {
	display: block;
	background: none;
	text-decoration: none;
	margin: 3%;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: calc(1.25vw + 1.25vh);
}
