.container {
	width: 100%;
	height: 100%;
}

.cow-brown.cow-up {
	background: url("../../../assets/sprites/svg/CowBrownUp.svg");
}

.cow-brown-right {
	background: url("../../../assets/sprites/svg/CowBrownRight.svg");
}

.cow-brown.cow-right {
	background: url("../../../assets/sprites/svg/CowBrownRight.svg");
}

.cow-brown.cow-down {
	background: url("../../../assets/sprites/svg/CowBrownDown.svg");
}

.cow-brown.cow-left {
	background: url("../../../assets/sprites/svg/CowBrownLeft.svg");
}

.cow-grey.cow-up {
	background: url("../../../assets/sprites/svg/CowGrayUp.svg");
}

.cow-gray.cow-right {
	background: url("../../../assets/sprites/svg/CowGrayRight.svg");
}

.cow-grey.cow-down {
	background: url("../../../assets/sprites/svg/CowGrayDown.svg");
}

.cow-grey.cow-left {
	background: url("../../../assets/sprites/svg/CowGrayLeft.svg");
}