.levels-buttons {
    /* visibility: hidden; */
}

#level1 {
    visibility: hidden;
}

#level2 {
    visibility: hidden;
}

#level3 {
    visibility: hidden;
}

#level4 {
    visibility: hidden;
}

#level5 {
    visibility: hidden;
}

#level6 {
    visibility: hidden;
}

#level7 {
    visibility: hidden;
}

#level8 {
    visibility: hidden;
}

#level9 {
    visibility: hidden;
}

#level10 {
    visibility: hidden;
}

#level11 {
    visibility: hidden;
}

#level12 {
    visibility: hidden;
}

#level13 {
    visibility: hidden;
}

#level14 {
    visibility: hidden;
}

#level15 {
    visibility: hidden;
}

#level16 {
    visibility: hidden;
}

#level17 {
    visibility: hidden;
}

#level18 {
    visibility: hidden;
}

#level19 {
    visibility: hidden;
}

#level20 {
    visibility: hidden;
}